*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
color: #fff;
border: 0;
font-size: 20px;
}
header{
    height: 100vh;
}
/*------------Banner Styles-----------------*/
.banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    margin-left: 20px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;  
}
.banner-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
padding: 32px 0;
}
.banner-img img{
    width: 435px;
    height: 600px;
}
/*----------Banner Styles End-------------------------*/
/*--------------Featured styles start-------*/

.featured-title{
 margin-top: 100px;
 color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.featured-description{
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 50px;
}
.featured-container{
    display: flex;
    gap: 1rem;
 align-items: center;
justify-content: center;
margin-bottom: 160px;
}
.flower-img{
    width: 150px;
    height: 200px;
    margin-top: 100px;
}
.pink-flower-title{
margin-top: 32px;
color: #272727;
text-align: center;
font-size: 20px;
font-weight: 700;
text-decoration-line: underline;
}
.pink-flower{
width: 264px;
height: 300px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
text-align: center;
}

.red-flower{
    width: 264px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;  
}
.yellow-flower{
    width: 264px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center; 
}
/*--------------Featured styles Ends-------*/

/*-----------Sale section styles start----*/
.sale-container{
 width: 100%;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: center;
align-items: center;
padding: 50px 0;
}
.sale-content{
    margin-left: 250px;
}
.sale-title{
color: #272727;
font-size: 40px;
font-weight: 800;
}
.off{
    color: #E55473;
}
.sale-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin: 20px 0;
}
.sale-flower-img{
width: 218px;
height: 320px;
margin-left: 200px;
}
.sale-btn{
margin-left: 180px;
margin-top: 10px;
}
/*-----------Sale section styles ends----*/